#bck{
    background-image: url("/static/images/off.jpg");
    background-size: cover;

  } 
  #all{
    background-image: url("/static/images/off.jpg");
    background-size: cover;
  }
  #add{
    background-image: url("/static/images/off.jpg");
    background-size: cover;
  }
  #remove{
    background-image: url("/static/images/off.jpg");
    background-size: cover;

  }
  #filter{
    background-image: url("/static/images/off.jpg");
    background-size: cover;

  }
  .new{
    color: aliceblue;
  }
  /* .div-new{
    margin-top: 40vh;
    position: relative; 
  } */
  .div1{
    margin-top: 40vh;
    position: relative; 
    color: blue;    
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: 1;
  }
  .div3{
    margin-top: 40vh;
    position: relative; 
    color:white;
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: 1;
  }
  @keyframes example {
    from {left: -500px;background-color:transparent;}
    50%  {left: -100px !important;background-color: black;} /* ignored */
    to   {left: 0px;background-color: transparent;}
  }
   /* #k{
    width: 100%;
    overflow-x: scroll;
   } */

  @media only screen and (max-width: 1200px) {
    /* For mobile phones:  making the wesite responsive*/
    .div-new {
      background-color:transparent;
      /* margin-left: 20vh; */
      margin: 30vh auto 0 auto; /* top right bottom left */
      position: relative;
      width: 100%;
    }
    
  }